.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  & li {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
  }
}
