.wrapper {
  position: relative;
  .input {
    margin: .5rem 0;
    padding: .5rem;
    width: 100%;
    border: 1px solid #ccc;
  }

  .button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 50%;
    background: none;
    transition: border-color .5s;

    &:hover {
      cursor: pointer;
      border-color: #000;
    }
  }
}
